@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-6 text-white">
           
            @*<div class="container">*@

                <div class="contaner navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav">

                        @if (User.IsInRole(@SpotBuddies.Utility.SD.ManagerUser) || User.IsInRole(@SpotBuddies.Utility.SD.CustomerEndUser) || User.IsInRole(@SpotBuddies.Utility.SD.FrontDescUser) || User.IsInRole(@SpotBuddies.Utility.SD.KitchenUser))
                        {

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @await Component.InvokeAsync("UserName")
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">

                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                                   
                                    <a class="dropdown-item" asp-area="Customer" asp-controller="Order" asp-action="OrderHistory" style="color:black;">Order History</a>
                                       
                                </div>

                            </li>


                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-white-50">Logout</button>
                                </form>
                            </li>

                        }

                    </ul>
                </div>
           @* </div>*@
        </nav>     
      
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>



