@page
@using SpotBuddies.Utility
@model RegisterModel


<h1>@ViewData["Title"]</h1>


<form asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <div class="border backgroundWhite" >

        <h2 class="text-info">Create New Account</h2>
        <br />
        <br />
        <h4 class="text">Personal Information</h4>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.FirstName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <span asp-validation-for="Input.FirstName" class="text-danger" />
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.LastName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <span asp-validation-for="Input.LastName" class="text-danger" />
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Email" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <span asp-validation-for="Input.Email" class="text-danger" />
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.PhoneNumber" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger" />
        </div>

        <h4 class="text">Delivery Details</h4>
        <br />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.StreetAddress" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.StreetAddress" class="form-control" />
            </div>
            <span asp-validation-for="Input.StreetAddress" class="text-danger" />
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.StreetNumber" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.StreetNumber" class="form-control" />
            </div>
            <span asp-validation-for="Input.StreetNumber" class="text-danger" />
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Apartment" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Apartment" class="form-control" />
            </div>
            <span asp-validation-for="Input.Apartment" class="text-danger" />
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.City" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.City" class="form-control" />
            </div>
            <span asp-validation-for="Input.City" class="text-danger" />
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.PostalCode" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.PostalCode" class="form-control" />
            </div>
            <span asp-validation-for="Input.PostalCode" class="text-danger" />
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Password" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        @if (User.IsInRole(SD.ManagerUser))
        {
        <div class="form-group row">
            <div class="col-2">

            </div>
            <div class="col-5">
                <input type="radio" name="rdUserRole" value="@SD.KitchenUser" checked /> @SD.KitchenUser
                <input type="radio" name="rdUserRole" value="@SD.FrontDescUser" /> @SD.FrontDescUser
                <input type="radio" name="rdUserRole" value="@SD.ManagerUser" checked /> @SD.ManagerUser
            </div>
        </div>
        }

        <div class="form-group row">
            <div class="col-5 offset-2">
                <button type="submit" class="btn btn-primary form-control">Register</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
